.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba($color-white, .8);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: 0.1);
  font-size: $default-font-size;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  @include clearfix;

  @include respond(tab-port){
    width: 100%;
    padding: 5rem;
    padding-left: 8rem;
  }
  @include respond(phone){
    width: 100%;
    padding: 5rem;
    padding-left: 8rem;
    transform: skewX(0deg);
  }

  //   & > * {
  //     transform: skewX(12deg);
  //   }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: salmon;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    
  @include respond(tab-port){
    transform: translateX(-5rem) skewX(12deg);
  }
  @include respond(phone){
    transform: translateX(-3rem) skewX(0);
  }
  }

  &__image {
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    object-fit: cover;
    transition: all 0.6s ease-out;
  }

  &__caption {
    font-size: 1.7rem;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.6s all ease-out;
  }
  &__text {
    transform: skewX(12deg);
    @include respond(phone){
      transform: skewX(0);
    }
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: blur(50%);
    backface-visibility: hidden;
  }

  &:hover &__image {
    filter: blur(3px) brightness(80%);
    transform: scale(1);
    backface-visibility: hidden;
  }
}
