.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: $color-white;
    z-index: 10000;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .4);
    cursor: pointer;

    @include respond(tab-port){
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 500;
    transition: transform .6s cubic-bezier(.92,.08,.67,1.12);
    @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }

  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 700;
    transition: all 1s cubic-bezier(.92,.08,.13,1.34);
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateX(calc(-60%));
    visibility: hidden;
    // background-color: salmon;
  }

  &__list {
    list-style: none;
    text-align: center;
    @include center-horizontal-vertical;
    z-index: 1000;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3rem;
      color: #fff;
      padding: 1rem 2rem;
      display: inline-block;
      padding: 1.5rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 240%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
      display: inline-block;
    }
  }

  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    // width: 100%;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible
  }

  //ICON

  &__icon{

    @include center-horizontal-vertical;
    &,
    &::before,
    &::after
    {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
      display: inline-block;
      position: relative;
    }
    
    &::before,
    &::after
    {
      transition: all 1s;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
    }

    &::before
    {
      top: -.8rem;
      // transform-origin: right;
    }

    &::after
    {
      top: .8rem;
      // transform-origin: right;
    }

  }
  
  &__button:hover &__icon{
    &::before{
      top: -1rem;
    }

    &::after{
      top: 1rem;
    }
  }

  &__checkbox:checked + &__button &__icon{
    background-color: transparent;

    &::before{
      transform: rotate(315deg);
      top: 0;
    }
    &::after{
      transform: rotate(-315deg);
      top: 0;
    }

  }
}
